/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: $cBlack;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/*
共通クラス
*/
.container {
  margin-left: 300px;
}

.wrapper {
  max-width: $contentMaxWidth;
  padding: 80px 20px;
  margin: 0 auto;
}
.site-title {
}

.sec-title {
}

